@page "/"
<IndexHeader/>
<div class="grid md:grid-cols-2 lg:grid-cols-3 sm:grid-cols-1 3xl:grid-cols-4 gap-4 gas">
    @if (viewModel.IsRefreshing)
    {
        <p>Carregando</p>
    }

    else{
    @foreach (Produto produto in viewModel.Produtos){
    <ProdutoItem Produto=produto Deletar=viewModel.DeletarProduto/>
}
  
    }
</div>
@code{
    ProdutoViewModel viewModel;
    protected override void OnInitialized()
    {
        viewModel = new ProdutoViewModel();
        viewModel.OnIsRefreshingChanged += async () =>
        {
            // Atualize a página quando IsRefreshing se tornar false
            await InvokeAsync(() =>
                    {
                        // Atualize a página quando IsRefreshing se tornar false
                        if (!viewModel.IsRefreshing)
                        {
                            StateHasChanged();
                        }
                    });
        };
    }
}